@import url(https://npm.elemecdn.com/font-awesome@4.7.0/css/font-awesome.min.css);
a {
    text-decoration: none;
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes fadenum {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    2% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4% {
        transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    6% {
        transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8% {
        transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10% {
        transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    14% {
        transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        transform: translate(0, -0.5px) rotate(-1.5deg);
    }
    18% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    20% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    22% {
        transform: translate(0, 0.5px) rotate(-1.5deg);
    }
    24% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    26% {
        transform: translate(0, 0.5px) rotate(0.5deg);
    }
    28% {
        transform: translate(0, 0.5px) rotate(1.5deg);
    }
    30% {
        transform: translate(0, -0.5px) rotate(2.5deg);
    }
    32% {
        transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    34% {
        transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    36% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    38% {
        transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    40% {
        transform: translate(0, -0.5px) rotate(2.5deg);
    }
    42% {
        transform: translate(0, 2.5px) rotate(-1.5deg);
    }
    44% {
        transform: translate(0, 1.5px) rotate(0.5deg);
    }
    46% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    48% {
        transform: translate(0, -0.5px) rotate(0.5deg);
    }
    50% {
        transform: translate(0, 0.5px) rotate(0.5deg);
    }
    52% {
        transform: translate(0, 2.5px) rotate(2.5deg);
    }
    54% {
        transform: translate(0, -1.5px) rotate(1.5deg);
    }
    56% {
        transform: translate(0, 2.5px) rotate(2.5deg);
    }
    58% {
        transform: translate(0, 0.5px) rotate(2.5deg);
    }
    60% {
        transform: translate(0, 2.5px) rotate(2.5deg);
    }
    62% {
        transform: translate(0, -0.5px) rotate(2.5deg);
    }
    64% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    66% {
        transform: translate(0, 1.5px) rotate(-0.5deg);
    }
    68% {
        transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    70% {
        transform: translate(0, 1.5px) rotate(0.5deg);
    }
    72% {
        transform: translate(0, 2.5px) rotate(1.5deg);
    }
    74% {
        transform: translate(0, -0.5px) rotate(0.5deg);
    }
    76% {
        transform: translate(0, -0.5px) rotate(2.5deg);
    }
    78% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    80% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    82% {
        transform: translate(0, -0.5px) rotate(0.5deg);
    }
    84% {
        transform: translate(0, 1.5px) rotate(2.5deg);
    }
    86% {
        transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    88% {
        transform: translate(0, -0.5px) rotate(2.5deg);
    }
    90% {
        transform: translate(0, 2.5px) rotate(-0.5deg);
    }
    92% {
        transform: translate(0, 0.5px) rotate(-0.5deg);
    }
    94% {
        transform: translate(0, 2.5px) rotate(0.5deg);
    }
    96% {
        transform: translate(0, -0.5px) rotate(1.5deg);
    }
    98% {
        transform: translate(0, -1.5px) rotate(-0.5deg);
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


/* Main */

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main .content {
    display: flex;
    margin: 2em 1em;
    background: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 5px;
    animation: content .5s 2.2s both;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
    width: 50em;
    height: 30em;
}

.left {
    width: 20%;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.left .avatar img {
    border-radius: 100%;
    border: 5px #fff solid;
}

.left .menu {
    margin-top: 2em;
    flex: 1;
}

.left .menu li {
    margin-top: 1em;
}

.left .menu li a {
    color: white;
    cursor: pointer;
}

.left .copyright {
    color: white;
    font-size: 12px;
}

.left .copyright a {
    color: white;
}


/* Right Box */

.right {
    flex: 1;
    padding: 1em;
}

.right section {
    display: none;
}

.right section.active {
    display: block;
}

section {
    -webkit-animation: fadenum .5s;
    -moz-animation: fadenum .5s;
    animation: fadenum .5s;
}


/* Footer */

footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}


/* Sections */

#home h1 {
    margin-top: .7em;
    font-size: 3em;
}

#home p {
    margin-top: 6em;
}

#intro h1 {
    margin-top: 1em;
    font-size: 2em;
}

#intro ul {
    line-height: 1.5em;
    margin-top: 4em;
}

#intro a {
    color: black;
}

#intro .meta {
    color: #999;
    font-size: 60%;
}

#contact .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact h1 {
    margin-top: 1em;
    font-size: 2em;
}

#contact .items a {
    color: rgba(0, 0, 0, 0.8);
    ;
    width: 33.333%;
    padding: .5em 0;
    border-radius: 1em;
    display: inline-block;
    transition: transform .3s;
}

#contact .items a i {
    display: block;
    font-size: 3em;
    margin-top: 1em;
}

#contact .items a span {
    display: block;
    margin-top: 1em;
}

#contact .items a:hover {
    animation: shake 5s infinite ease-in-out;
}

#donate h1 {
    margin-top: 1em;
    font-size: 2em;
}

#donate .donate-img-box {
    margin-top: 3em;
}

#donate .donate-img-box img {
    margin: .5em;
    width: 8em;
}

#donate p {
    margin-top: 3em;
}

footer #hitokoto {
    font-size: 90%;
    color: #34495e;
}


/* And something else */

.copyright-mobile {
    display: none;
    font-size: 12px;
}

.copyright-mobile a {
    color: white;
}


/* Hack for mobile */

@media only screen and (max-width: 768px) {
    /* Main */
    .right {
        display: block;
        width: 100%;
        padding: 1em;
        max-height: 20em;
        overflow: hidden;
    }
    .left {
        display: block;
        width: 100%;
        padding: 1em;
        border-radius: 5px 5px 0 0;
    }
    .left .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .left .menu li {
        width: 50%;
        padding: .5em 0;
        display: inline-block;
    }
    .avatar {
        margin-top: -5em;
    }
    body {
        padding: 0 1em 0 1em;
    }
    main {
        width: 100%;
        max-width: 22em;
    }
    main .content {
        display: block;
        margin: 5em 0 1em 0;
        width: 100%;
        height: 35em;
        overflow: visible;
    }
    footer {
        margin-bottom: 1em;
    }
    footer #hitokoto {
        font-size: 80%;
    }
    .copyright {
        display: none;
    }
    .copyright-mobile {
        display: block;
    }
    /* Sections */
    #home h1 {
        margin-top: .5em;
        font-size: 2.5em;
    }
    #home p {
        margin-top: 2em;
    }
    #intro h1 {
        margin-top: .2em;
        font-size: 1.5em;
    }
    #intro ul {
        margin-top: .5em;
    }
    #intro a {
        font-size: 75%;
    }
    #intro .meta {
        font-size: 60%;
    }
    #contact h1 {
        margin-top: .3em;
        font-size: 2em;
    }
    #contact .items {
        margin-top: 1em;
    }
    #contact .items a {
        padding: .3em 0;
    }
    #contact .items a i {
        font-size: 2em;
        margin-top: .2em;
    }
    #contact .items a span {
        margin-top: 1em;
    }
    #donate h1 {
        margin-top: .3em;
        font-size: 2em;
    }
    #donate .donate-img-box {
        margin: .5em auto 1em auto;
        max-width: 20em;
        max-height: 15.5em;
    }
    #donate .donate-img-box img {
        margin: .1em;
        width: 40%;
    }
    #donate p {
        margin-top: 1em;
        font-size: 60%;
    }
}